@charset "ISO-8859-1";
.casal{
	width: 70%;
}
.infoCasal{
	display: flex;
}
.container form .primeiro{
  height: 45px;
  width: 100%;
  margin-right: 30px;
}
form .btn{
  margin: 20px 0;
  height: 50px;
  width: 40%;
  margin-left: 260px;
}